* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60vw;
}
button {
    height: 100px;
    width: 100px;
    margin: 2px;
    color: white;
    font-size: 4em;
    border: none;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}