* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
.main {
    height: 80vh;
    width: 80vw;
    position: relative;
}
button {
    height: 50px;
    width: 50px;
    position: absolute;
    color: white;
    font-size: 2em;
    border-radius: 50%;
    border: none;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}